@using CompetitionApp.Model;

@{
    ViewBag.Title = "Yarışmaya Xoş Gəldiniz";
}
<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa; /* Açıq rəngli arxa fon */
            color: #343a40; /* Tünd mətni rəngi */
            font-family: Arial, sans-serif;
        }
        .center-content {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        h1 {
            font-size: 2.5rem;
            margin-bottom: 20px;
        }
        .btn-primary {
            padding: 10px 20px;
            font-size: 1.2rem;
            border-radius: 25px;
            background-color: #007bff; /* Mavi düymə */
            border: none;
        }
        .btn-primary:hover {
            background-color: #0056b3; /* Hover effekti üçün tünd mavi */
        }
    </style>
</head>
<body>
    <div class="center-content">
        <h1>Yarışmaya Xoş Gəldiniz</h1>
        <a href="/Competition/Topics" class="btn btn-primary">Start</a>
    </div>
</body>
</html>

