@using CompetitionApp.Model;

@{
    ViewBag.Title = "Yarışmaya Xoş Gəldiniz";
}
<div class="text-center">
    <h1>Yarışmaya Xoş Gəldiniz</h1>
    <a href="/Competition/Topics" class="btn btn-primary">Start</a>
</div>
